{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Crowsnest",
  "Parameters": {
    "CodeS3Bucket": {
      "Type": "String",
      "Description": "lambda function S3 bucket location"
    },
    "CodeS3Prefix": {
      "Type": "String",
      "Description": "lambda function S3 prefix location"
    },
    "GitSha": {
      "Type": "String",
      "Description": "lambda function S3 prefix location"
    },
    "StreambotEnv": {
      "Type": "String",
      "Description": "StreambotEnv lambda function ARN"
    },
    "AlarmEmail": {
      "Type": "String",
      "Description": "Alarm notifications will send to this email address"
    },
    "githubToken": {
      "Type": "String",
      "Description": "Github API token with users scope"
    },
    "myBucket": {
      "Type": "String",
      "Description": "Bucket where to store"
    }
  },
  "Resources": {
    "full": {
      "Type": "AWS::Lambda::Function",
      "Properties": {
        "Code": {
          "S3Bucket": {
            "Ref": "CodeS3Bucket"
          },
          "S3Key": {
            "Fn::Join": [
              "",
              [
                {
                  "Ref": "CodeS3Prefix"
                },
                {
                  "Ref": "GitSha"
                },
                ".zip"
              ]
            ]
          }
        },
        "Role": {
          "Fn::GetAtt": [
            "CrowsnestRole",
            "Arn"
          ]
        },
        "Description": {
          "Ref": "AWS::StackName"
        },
        "Handler": "index.full",
        "MemorySize": 128,
        "Runtime": "nodejs",
        "Timeout": 60
      }
    },
    "StreambotEnvfull": {
      "Type": "Custom::StreambotEnv",
      "Properties": {
        "ServiceToken": {
          "Ref": "StreambotEnv"
        },
        "FunctionName": {
          "Ref": "full"
        },
        "githubToken": {
          "Ref": "githubToken"
        },
        "myBucket": {
          "Ref": "myBucket"
        },
        "CrowsnestAlarmSNSTopic": {
          "Ref": "CrowsnestAlarmSNSTopic"
        }
      }
    },
    "fullAlarmErrors": {
      "Type": "AWS::CloudWatch::Alarm",
      "Properties": {
        "EvaluationPeriods": "5",
        "Statistic": "Sum",
        "Threshold": "0",
        "AlarmDescription": "https://github.com/mapbox/crowsnest-public/blob/master/alarms.md#Errors",
        "Period": "60",
        "AlarmActions": [
          {
            "Ref": "CrowsnestAlarmSNSTopic"
          }
        ],
        "Namespace": "AWS/Lambda",
        "Dimensions": [
          {
            "Name": "FunctionName",
            "Value": {
              "Ref": "full"
            }
          }
        ],
        "ComparisonOperator": "GreaterThanThreshold",
        "MetricName": "Errors"
      }
    },
    "fullAlarmNoInvocations": {
      "Type": "AWS::CloudWatch::Alarm",
      "Properties": {
        "EvaluationPeriods": "5",
        "Statistic": "Sum",
        "Threshold": "0",
        "AlarmDescription": "https://github.com/mapbox/crowsnest-public/blob/master/alarms.md#NoInvocations",
        "Period": "60",
        "AlarmActions": [
          {
            "Ref": "CrowsnestAlarmSNSTopic"
          }
        ],
        "Namespace": "AWS/Lambda",
        "Dimensions": [
          {
            "Name": "FunctionName",
            "Value": {
              "Ref": "full"
            }
          }
        ],
        "ComparisonOperator": "LessThanThreshold",
        "MetricName": "Invocations"
      }
    },
    "CrowsnestRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Statement": [
            {
              "Sid": "",
              "Effect": "Allow",
              "Principal": {
                "Service": "lambda.amazonaws.com"
              },
              "Action": "sts:AssumeRole"
            }
          ]
        },
        "Path": "/",
        "Policies": [
          {
            "PolicyName": "basic",
            "PolicyDocument": {
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "logs:*"
                  ],
                  "Resource": "arn:aws:logs:*:*:*"
                },
                {
                  "Effect": "Allow",
                  "Action": [
                    "dynamodb:GetItem"
                  ],
                  "Resource": {
                    "Fn::Join": [
                      "",
                      [
                        "arn:aws:dynamodb:us-east-1:",
                        {
                          "Ref": "AWS::AccountId"
                        },
                        ":table/streambot-env*"
                      ]
                    ]
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": [
                    "sns:Publish"
                  ],
                  "Resource": {
                    "Ref": "CrowsnestAlarmSNSTopic"
                  }
                }
              ]
            }
          },
          {
            "PolicyName": "full",
            "PolicyDocument": {
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "s3:GetObject"
                  ],
                  "Resource": "arn:aws:s3:::mySuperDuperBucket"
                }
              ]
            }
          }
        ]
      }
    },
    "CrowsnestAlarmSNSTopic": {
      "Type": "AWS::SNS::Topic",
      "Properties": {
        "TopicName": {
          "Ref": "AWS::StackName"
        },
        "Subscription": [
          {
            "Endpoint": {
              "Ref": "AlarmEmail"
            },
            "Protocol": "email"
          }
        ]
      }
    }
  }
}
